.btn-shape {
	border-radius:15px;
	display:inline-block;
	cursor:pointer;
	font-weight:bold;
	padding:12px 16px;
    text-decoration:none;
}
.btn-shape:active {
    position:relative;
	top:1px;
}

.btn-dark-mode-config {
    box-shadow: 2px 2px 4px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-color:#333029;
	border:2px solid #333029;
	color:#505739;
	text-shadow:0px 1px 6px #ffffff;
}

.btn-dark-mode-config:hover {
    background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
	border-color:#333029;
    color:#505739;
    text-decoration:none;
}

.btn-dark-mode-config:focus .btn-dark-mode-config:active  {
	border-color:#333029;
    box-shadow: 2px 2px 4px 0px #1c1b18;
	border:4px solid #333029;
    color:#505739;
	background-color:#ccc2a6;
}

.btn-dark-mode-secondary {
    box-shadow: 2px 2px 4px 0px #1c1b18;
	background:linear-gradient(to bottom, #78756F 5%, #3F3D43 100%);
	background-color:#78756F;
	border:2px solid #050517;
	color:#f4e3b2;
	text-shadow:0px 1px 6px#eae4c6ff;
	margin-bottom: 0;
}

.btn-dark-mode-secondary:hover {
    background:linear-gradient(to bottom, #3F3D43 5%, #78756F 100%);
    background-color:#3F3D43;
    color:#f4e3b2ff;
	text-decoration:none;
	border:2px solid #050517;
	
}

.btn-dark-mode-warning {
    box-shadow: 2px 2px 4px 0px #1c1b18;
	background:linear-gradient(to bottom, #D00000 5%, #6A040F 100%);
	background-color:#D00000;
	border:2px solid #050517;
	color:#EFC88B;
	text-shadow:0px 1px 6px#eae4c6ff;
	margin-bottom: 0;
}

.btn-dark-mode-warning:hover {
    background:linear-gradient(to bottom, #6A040F 5%, #D00000 100%);
    background-color:#6A040F;
    color:#EFC88B;
	text-decoration:none;
	border:2px solid #050517;
	
}


btn-link {
	padding: 0;
}

