.modal-backdrop {
    background-color:rgba(239, 200, 139, .5) ;
}
.modal-content {
    background-color: #303030;
}

.modal-header{
    color: #efc88bff
}

.modal-title {
    color:#efc88bff
}

.close {
    color:#efc88bff
}

.modal-body {
    background-color: #303030;
}



